name: Check PR

on:
  pull_request_target:
    branches:
      - main

jobs:
  check:
    uses: AventusDAO/shared-workflows/.github/workflows/check-workflow.yml@v5.9.0

  terraform-docs-validate:
    needs: [check]
    uses: AventusDAO/shared-workflows/.github/workflows/terraform-docs-workflow.yml@v5.9.0
